<div class="container mt-5">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2   text-muted" onclick='Annulla()'>Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2   text-muted" onclick='Annulla()'>Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2   text-muted" onclick='Annulla()'>Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2   text-muted" onclick='Annulla()'>FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2   text-muted" onclick='Annulla()'>About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Starvato Airlines, Inc</p>
    </footer>
</div>

<script>
    function Annulla(){
        alert('momentaneamente non disponibile')
    }
   
</script>