{% load static %}
<center>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card  mt-5" style="width: 18rem; height: 32rem;"> 
                <img src="{% static 'images/U1.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lasciati incantare dalle meraviglie della nostra terra</h5>
                    <p class="card-text">Tra le vette maggiori dell’Appennino e le acque dell’Adriatico si distende una terra ricchissima di attrattive. Natura incontaminata, itinerari ed escursioni.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-5" style="width: 18rem; height: 32rem;"> 
                <img src="{% static 'images/U2.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sant'Efisio, la festa della Sardegna</h5>
                    <p class="card-text">dal primo al 4 maggio si celebra la Festa di Sant'Efisio. Si rievocano le vicende di inizio IV secolo del santo guerriero e si scioglie il voto perpetuo a lui rivolto durante la pestilenza del 1652. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-5" style="width: 18rem; height: 32rem;"> 
                <img src="{% static 'images/U3.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Controlla i dati della tua prenotazione</h5>
                    <p class="card-text">assicurati che i dati inseriti siano corretti, basta avere il codice unico fornito alla prenotazione :)</p>
                
                </div>
            </div>
        </div>
    </div>
</div> 
</center>