{% extends 'base.html' %}
<!-- è solo estetico nulla di funzionante ancora -->
{% block content %}

<form action="" method="post" class="mb-5 mt-5"> <!-- questo è il form di ricerca per aereoporti e giorno di volo -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Andata
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                    <label class="form-check-label" for="flexRadioDisabled">
                        Andata e ritorno
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        {%for airport in airports%}
                        <option value={{airport.name}}>{{airport.name}}</option>
                        {%endfor%}
                    </select>
                    <label for="floatingSelectGrid">Partenza</label>
                  </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        {%for airport in airports%}
                        <option value={{airport.name}}>{{airport.name}}</option>
                        {%endfor%}
                    </select>
                    <label for="floatingSelectGrid">Arrivo</label>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-lg">
                        <input type="datetime-local" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                  </div>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
            </div>
        </div>
    </div>
</form>
<!-- carosello di immagini che cambiano NON SONO RIUSCITO A METTERLO-->



{% endblock content %}


