<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row">
            <h5 class="col md-12">{{recap.start}} => {{recap.arrive}}</h5>
        </div>
        {% if filt_rit%}
        <h5 style="justify-content: center; text-align: center;" class="col">Andata e ritorno</h5>
        {% else %}
        <h5 style="justify-content: center; text-align: center;" class="col">Solo andata</h5>
        {% endif%}
        <a href="{% url 'home' %}" class="btn btn-warning">
            Cambia la ricerca
        </a>
    </div>
</nav>