{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; height: 32rem;"> 
                <img src="{% static 'images/U1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Veloce</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio corrupti natus nemo vel cum sed iste modi minima, iure accusamus.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 32rem;"> 
                <img src="{% static 'images/U2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Veloce</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio corrupti natus nemo vel cum sed iste modi minima, iure accusamus.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 32rem;"> 
                <img src="{% static 'images/U3.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Veloce</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio corrupti natus nemo vel cum sed iste modi minima, iure accusamus.</p>
                </div>
            </div>
        </div>
    </div>
</div> 