{% extends 'base.html'%}

{% load widget_tweaks %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row justify-content-start" style="align-items: center;">
            <h5 class="col-4">Nome Partenza</h5>
            <h4 class="col-2"> => </h4>
            <h5 class="col-2">Nome Arrivo</h5>
        </div>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-bs-target
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="col-md">
                        <div class="form-floating">
                                {%render_field search.start class='form-select' id='floatingSelectGrid' aria-label="Floating label select example" %}
                            <label for="floatingSelectGrid">Works with selects</label>
                        </div>
                    </div>
                        <div class="col-md">
                            <div class="form-floating mt-2">
                                {%render_field search.arrive class='form-select' id='floatingSelectGrid' aria-label="Floating label select example" %}
                                <label for="floatingSelectGrid">Works with selects</label>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-lg"> <!-- aggiungere label a tutti i campi del form -->
                                <input type="date" name="" class='form-control datetime mt-2' id="">
                            </div>
                          </div>
                        <div class="col-md">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-warning mt-2" value="Save">Warning</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item mt-5">An item</li>
                <li class="list-group-item mt-5">A second item</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}