{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row">
            <h5 class="col-5"> {{querySet.Fly_start}} => {{querySet.Fly_arrive}}</h5>
        </div>
        <a href="{%url 'search'%}" class="btn btn-warning">torna alla ricerca</a>
        <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Cambia la ricerca
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="col-md">
                        <div class="form-floating">
                            
                            <label for="floatingSelectGrid">Works with selects</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mt-2">
                            
                            <label for="floatingSelectGrid">Works with selects</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-lg"> <!-- aggiungere label a tutti i campi del form -->
                            <input type="date" name="" class='form-control datetime mt-2' id="">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-warning mt-2" value="Save">cerca</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-4">
            One of two columns
        </div>
        <div class="col-4">
            One of two columns
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-4">
          One of two columns
        </div>
        <div class="col-4">
          One of two columns
        </div>
      </div>
</div>
{% endblock %}