{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row">
            <h5 class="col-5"> {{querySet.Fly_start}} => {{querySet.Fly_arrive}}</h5>
        </div>
            <a href="{%url 'search'%}" class="btn btn-warning">torna alla ricerca</a>
            <a href="{%url 'home'%}" class="btn btn-warning">cambia ricerca</a>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row justify-content-around" style="display: flex; align-items: center;">
            <div class="col-4">
                <h3>{{querySet.Fly_day}}</h3>
            </div>
            <div class="col-4">
                <h6>codice volo:</h3>
            </div>
        </div>
        <div class="row align-items-start" >
            <div class="col">
                <h3>{{querySet.Fly_start}}</h3>
            </div>
            <div class="col">
                <h3>{{querySet.Fly_arrive}}</h3>
            </div>
            <div class="col">
                <h3>prezzo:</h3>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-4">
                <h3>{{querySet.Fly_hour}}</h3>
            </div>
            <div class="col-4">
                <h3>00:00</h3>
            </div>
            <div class="col-4">
                <h3>$00.00</h3>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="diver">
                    <h4>scegli il posto</h4>
                    <ul class="legend">
                        <li>
                            <div class="seat"></div>
                            <small>n/a</small>
                        </li>
                        <li>
                            <div class="seat selected"></div>
                            <small>selezionato</small>
                        </li>
                        <li>
                            <div class="seat occupied"></div>
                            <small>occupato</small>
                        </li>
                    </ul>
                    <div class="containera">
                    </div>
                    <p class="text">hai selezionato <span id="count">0</span> posto/i</p>
                    <button type="submit" class="btn btn-success mt-2" onclick="seatConferm()" value="Save">Conferma</button>
                </div>
            </div>
            <div class="col">
                <form method="POST" action="" class="row g-3 contactForm" > {% csrf_token %}
                    <h2>lasciaci i tuoi dati</h2>
                    <div class="col-md-6">
                        <label for="nome" class="form-label">Nome</label>
                            {% render_field booking.name class='form-control' class+='jswriter' id='nome' placeholder='Mario' %}
                    </div>
                    <div class="col-md-6">
                        <label for="cognome" class="form-label">Cognome</label>
                        {% render_field booking.surname class='form-control' id='cognome' placeholder='Rossi'%}
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        {% render_field booking.email class='form-control' id='email' placeholder='mariorossi@example.it' %}
                    </div>
                    <div class="col-12">
                        <label for="address" class="form-label">Address</label>
                        {% render_field booking.address class='form-control' id='address' placeholder="1234 Main St" %}
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">City</label>
                        {% render_field booking.city class='form-control' id='city' placeholder="Los Angeles" %}
                    </div>
                    <div class="col-md-4">
                        <label for="state" class="form-label">State</label>
                        {% render_field booking.state class='form-control' id='state' placeholder="California" %}
                    </div>
                    <div class="col-md-2">
                        <label for="zip" class="form-label">Zip</label>
                        {% render_field booking.zip_code class='form-control'  id='zip' placeholder="71016" %}
                    </div>
                    <div class="col-md-2">
                        {% render_field booking.booking_code class='form-control' id='code' placeholder="code" hidden=True %}
                    </div>
                    <div class="col-md-2">
                        {% render_field booking.fly_code class='form-control' id='code' placeholder="code" hidden=True %}
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" required>
                            <label class="form-check-label" for="gridCheck">Check me out</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul id='prenotazioni'>
    {%for prenotazione in lista_prenotazioni%}
        <li>{{prenotazione}}</li>
    {% endfor %}
    </ul>

<style>
    #prenotazioni{
        display: none;
    }

    .diver{
        background-color: #242333;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 50vh;
        margin-top: 10px;
        border-radius: 20px;
    }
    
    .seat {
        background: #444451;
        height: 18px;
        width: 20px;
        margin: 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .seat.selected{
        background-color: aquamarine;
    }

    .seat.occupied{
        background-color: white;
    }

    .seat:nth-of-type(3) {
        margin-right: 18px;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    .legend {
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 40px;
        padding: 5px 10px;
        border-radius: 5px;
        color: #777;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        
    }

    .legend .seat:not(.occupied):hover{
        cursor: default;
        transform: scale(1);
    }

    .legend li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

    .legend small {
        margin-left: 10px;
    }

    .rowe{
        display: flex;
    }

    p.text {
        margin: 5px 0;
    }

    p.text span {
        color: aquamarine;
    }
</style>

<script> /* questo e' per stampare posti per aereo */
    const pyPosti = '{{posti}}'
    let pySection = ['A','B','C','D','E','F']
    let pyFile = parseInt(pyPosti/pySection)

    let prenotazioni = document.querySelectorAll('#prenotazioni li');
    let lista_prenotazioni = []

    for(let i = 0; i < prenotazioni.length; i++){
    lista_prenotazioni.push(prenotazioni[i].textContent)
    }
    const containera = document.getElementsByClassName('containera');
    for(let i = 0; i!=pyFile; i++){
        let rowe = document.createElement('div')
        rowe.classList.add('rowe')
        for(let j = 0; j!=pySection.length; j++){
            seat = document.createElement('div')
            seat.classList.add('seat')
            seat.id = i + '' + j
            for(let k = 0; k<pySection.length; k++)
                if(seat.id == lista_prenotazioni[k])
                    seat.classList.add('occupied')
            rowe.appendChild(seat)
        }
        containera[0].appendChild((rowe))
        }


    /* questo serve per selezionare i posti */
    const tcontainer = document.querySelector('.containera');
    const tseats = document.querySelectorAll('.rowe .seat:not(.occupied)');
    const count = document.getElementById('count');
    let selectedSeats = document.querySelectorAll('.rowe .seat.selected');
    let selectedSeatsCount = selectedSeats.length;
    let inputField = document.getElementById('code');






    function updateSelectedCount(){
        selectedSeats = document.querySelectorAll('.rowe .seat.selected')
        selectedSeatsCount = selectedSeats.length
        count.innerText = selectedSeatsCount
    }

    tcontainer.addEventListener('click', (e)=> { 
        if (e.target.classList.contains('seat') && !e.target.classList.contains('occupied')){
            try {
                selectedSeats[0].classList.remove('selected')
                e.target.classList.toggle('selected');
                inputField.value = e.target.id

            } catch (error) {
                e.target.classList.toggle('selected')
            }
        }
        updateSelectedCount();
    });

    function seatConferm(){
        confermSeats = []
        if (selectedSeatsCount < 1){
            return alert('non hai selezionato nessun posto')
        }
        for(let seat = 0; seat < selectedSeats.length; seat++){
            
            confermSeats.push(selectedSeats[seat].id) 
        }

        

        document.getElementsByClassName('diver')[0].style.display = 'none';
        document.getElementsByClassName('contactForm')[0].style.display = 'block'
        console.log(confermSeats)
    }
</script>


    

{% endblock %}