{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row">
            <h5 class="col-5"> {{querySet.Fly_start}} => {{querySet.Fly_arrive}}</h5>
        </div>
        <a href="{%url 'search'%}" class="btn btn-warning">torna alla ricerca</a>
        <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Cambia la ricerca
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="col-md">
                        <div class="form-floating">
                            
                            <label for="floatingSelectGrid">Works with selects</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mt-2">
                            
                            <label for="floatingSelectGrid">Works with selects</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-lg"> <!-- aggiungere label a tutti i campi del form -->
                            <input type="date" name="" class='form-control datetime mt-2' id="">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-warning mt-2" value="Save">cerca</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-around" style="display: flex; align-items: center;">
        <div class="col-4">
            <h3>{{querySet.Fly_day}}</h3>
        </div>
        <div class="col-4">
            <h6>codice volo:</h3>
        </div>
    </div>
    <div class="row align-items-start" >
        <div class="col">
            <h3>{{querySet.Fly_start}}</h3>
        </div>
        <div class="col">
            <h3>{{querySet.Fly_arrive}}</h3>
        </div>
        <div class="col">
            <h3>prezzo:</h3>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-4">
            <h3>{{querySet.Fly_hour}}</h3>
        </div>
        <div class="col-4">
            <h3>00:00</h3>
        </div>
        <div class="col-4">
            <h3>$00.00</h3>
        </div>
    </div>
    <div class="col-md">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success mt-2" value="Save">scegli il posto</button>
        </div>  
    </div>
    <div class="diver">
        <div class="seats-container">
            <label for="">scegli un posto</label>
        </div>
        <ul class="legend">
            <li>
                <div class="seat"></div>
                <small>n/a</small>
            </li>
            <li>
                <div class="seat selected"></div>
                <small>selezionato</small>
            </li>
            <li>
                <div class="seat occupied"></div>
                <small>occupato</small>
            </li>
        </ul>
    
        <div class="containera">
            <div class="rowe">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat occupied"></div>
                <div class="seat"></div>
                <div class="seat occupied"></div>
                <div class="seat"></div>
            </div>

            <div class="rowe">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>

            <div class="rowe">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
        </div>
    <p class="text">hai selezionato il posto <span class="id">0</span></p>
</div>

<style>
    .diver{
        background-color: #242333;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: 'Lato', 'sans-serif';
    }
    .seat {
        background: #444451;
        height: 12px;
        width: 15px;
        margin: 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .seat.selected{
        background-color: aquamarine;
    }

    .seat.occupied{
        background-color: white;
    }

    .seat:nth-of-type(3) {
        margin-right: 18px;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    .legend {
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 20px; /* aggiunto io */
        padding: 5px 10px;
        border-radius: 5px;
        color: #777;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        
    }

    .legend .seat:not(.occupied):hover{
        cursor: default;
        transform: scale(1);
    }

    .legend li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

    .legend small {
        margin-left: 10px;
    }

    .rowe{
        display: flex;
    }

    p.text {
        margin: 5px 0;
    }

    p.text span {
        color: aquamarine;
    }
</style>

<script>
    const container = document.querySelector('.containera');
    const seats = document.querySelectorAll('.row .seat:not(.occupied)');
    const count = document.getElementById('count');
     
     container.addEventListener('click', (e) => {
         console.log(e.target)
     })
</script>


    

{% endblock %}