{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}


<!-- il biglietto -->
<div class="container">
    <div class="row justify-content-around mt-3" style="display: flex; align-items: center;">
        <div class="col-4">
            <h3>{{querySet.date}}</h3>
        </div>
        <div class="col-6">
            <h5><strong>codice volo: </strong>{{querySet.unique_id}}</h5>
        </div>
    </div>
    <div class="row align-items-start mt-3" >
        <div class="col">
            <h3>{{querySet.start}}</h3>
        </div>
        <div class="col">
            <h3>{{querySet.arrive}}</h3>
        </div>
        <div class="col">
            <h3>prezzo:</h3>
        </div>
    </div>
    <div class="row justify-content-start mt-3">
        <div class="col-4">
            <h3>{{querySet.hour}}</h3>
        </div>
        <div class="col-4">
            <h3>00:00</h3>
        </div>
        <div class="col-4">
            <h3>{{querySet.price}}€</h3>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="diver">
                 <!-- legenda scelta posti -->
                <h4>scegli il posto</h4>
                <ul class="legend">
                    <li>
                        <div class="seat"></div>
                        <small>n/a</small>
                    </li>
                    <li>
                        <div class="seat selected"></div>
                        <small>selezionato</small>
                    </li>
                    <li>
                        <div class="seat occupied"></div>
                        <small>occupato</small>
                    </li>
                </ul>
                <!-- matrice scelta posti -->
                <div class="containera">
                </div>
                <p class="text">hai selezionato il posto <span id="count">0</span></p>
            </div>
        </div>
        <!-- contatti -->
        <div class="col">
            <form action="" method="post">
            {% csrf_token %}
                {% if nullSearch == True %}
                <div class="alert alert-danger" role="alert" style="text-align: center;">
                    <h6>Hai dimenticato qualche campo!</h6>
                </div>
                {% endif %}
                    {% if person != 1 %}
                        <h2>scegli, mancano ancora {{person}} posti!</h2>
                        <h4>il biglietto si prende persona per persona,</h4>
                    {% endif %}
                    
                    <h3>lasciaci i tuoi dati</h3>
                    <div class="col-md-6">
                        <label for="nome" class="form-label">Nome</label>
                            {% render_field booking.name class='form-control' class+='jswriter' id='name' placeholder='Mario' %}
                    </div>
                    <div class="col-md-6">
                        <label for="cognome" class="form-label">Cognome</label>
                        {% render_field booking.surname class='form-control' id='surname' placeholder='Rossi'%}
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        {% render_field booking.email class='form-control' id='email' placeholder='mariorossi@example.it' %}
                    </div>
                    <div class="col-12">
                        <label for="address" class="form-label">Address</label>
                        {% render_field booking.address class='form-control' id='address' placeholder="1234 Main St" %}
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">City</label>
                        {% render_field booking.city class='form-control' id='city' placeholder="Los Angeles" %}
                    </div>
                    <div class="col-md-4">
                        <label for="state" class="form-label">State</label>
                        {% render_field booking.state class='form-control' id='state' placeholder="California" %}
                    </div>
                    <div class="col-md-4">
                        <label for="zip" class="form-label">Zip</label>
                        {% render_field booking.zip_code class='form-control'  id='zip' placeholder="71016" %}
                    </div>
                    <div class="col-md-4">
                        {% render_field booking.airC_seat class='form-control'  id='code' placeholder="airC_seat"  hidden=True%}
                    </div>
                    <div class="col-md-6">
                        {% render_field booking.fly class='form-control'  id='fly' placeholder="fly" hidden=True%}     
                        <p id="selectId" style="display: none;">{{querySet.id}}</p>          
                    </div>
                    <div class="col-md-4">
                        {% render_field booking.unique_id class='form-control'  id='unique_id' placeholder="unique_id" hidden=True %}
                    </div>
                    <div class="col-md-4">
                        {% render_field booking.status class='form-control'  id='unique_id' placeholder="unique_id" hidden=True%}
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" required>
                            <label class="form-check-label" for="gridCheck">accetti la vendita dei tuoi dati</label>
                        </div>
                    </div>
                
                <div class="col-12">
                    {% if person != 1 %}
                    <button type="submit" class="btn btn-primary" onclick="checkForm()">Prendi il posto, tocca al prossimo</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary" onclick="checkForm()">Acquista</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<ul style="display: none;">
    {% for elements in saved_booking%}
    <li class="saved_li">{{elements.airC_seat}}</li>
    {% endfor %}
</ul>

<script>
    function checkForm(){
        code = document.getElementById('code').value
        if(code == false){
            alert('seleziona il posto!')
        }
    }
    const pyPosti =  '{{querySet.aircraft.seats}}'
    const py_saved_booking = document.getElementsByClassName('saved_li')
</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/seats.css' %}">
<script src="{% static 'js/seats.js' %}"></script>

{% endblock %}