{% extends 'base.html' %}



{% block content %}

{% load widget_tweaks %}

<form action="" method="POST">
    {% csrf_token %}
    <!-- andata e ritorno radio -->
    <div class="container mt-4">
        <div class="row justify-content-start">
            <div class="col-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipo_viaggio" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="andata">Andata</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check">
                    
                    <input class="form-check-input" type="radio" name="tipo_viaggio" id="flexRadioDefault2">
                    <label class="form-check-label" for="andata e ritorno">Andata e ritorno</label>
                </div>
            </div>
        </div>

        <!-- form scelta -->
        <div class="row mt-5" style="display: flex; align-items: center;">
            {% if nullSearch == True %}
            <div class="alert alert-danger" role="alert" style="text-align: center;">
                <h6>Nessun risultato :( <br>prova da qualche altra parte!</h6>
            </div>
            {% endif %}
            <div class="col">
                <div class="form-floating">
                    {% render_field flyForm.start class='form-select' id="floatingSelectGrid" aria-label="Floating label select example"%}
                    <label for="floatingSelectGrid">Partenza</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {% render_field flyForm.arrive class='form-select' id="floatingSelectGrid" aria-label="Floating label select example"%}
                    <label for="floatingSelectGrid">Arrivo</label>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-lg"> <!-- aggiungere label a tutti i campi del form -->
                        {% render_field flyForm.date type="date" class='form-control datetime' name="" id=""%}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {% render_field flyForm.person class='form-select' id="floatingSelectGrid" name="" aria-label="Floating label select example" %}                   
                    <label for="floatingSelectGrid">Persone</label>
                </div>
            </div>
            <div class="col">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Cerca</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
