{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}

{% include 'parts/sec_navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for query in querySet %}
                <li class="list-group-item mt-5">
                    <div class="container containera">
                        <div class="row">
                            <div class="col">
                                <h4>Partenza :</br> {{query.start}}</h4>
                            </div>
                            <div class="col">
                                <h4>Arrivo :</br> {{query.arrive}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4>{{query.hour}}</h4>
                            </div>
                            <div class="col">
                                <h4>{{query.hour}}</h4>
                            </div>
                        </div>
                        <div class="row">
                                <div class="d-grid gap-2">
                                    {% if search.have_return2 == 'yes' %}
                                        <button class="btn btn-primary clicca"  id={{query.id}} type="submit">Seleziona Andata</button>
                                    {% else %}
                                        <a href= "{% url 'fly_detail' query.id %}" class="btn btn-primary">vai al biglietto</a>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                    <div>
                </li>
                {% endfor %}
                
            </ul>
            
                <form action="" method="post"> {% csrf_token %}
                    
                        {% render_field aes.sAndata class='writeHere' id='s1' value='nope' %}
                        {% render_field aes.sRitorno class='sec 'id='id_sRitorno' value='nope' %}
                    
                    
                    <button id='formbutton'type="submit">invia</button>
                </form>
                
        </div>
    </div>

<script>
let s1 = document.getElementById('sAndata');
let s2 = document.getElementById('id_sRitorno');

let formbutton = document.getElementById('formbutton');

let notHere = document.getElementsByClassName('writeHere')
let backSearch = parseInt('{{first_search}}')

if(backSearch){
    notHere[0].value=backSearch
    notHere[0].classList.remove('writeHere')
    s2.classList.toggle('writeHere')
}


const tcontainer = document.querySelector('.containera');
let buttons = document.querySelectorAll('.clicca') 


tcontainer.addEventListener('click', (e)=> { 
    if (e.target.classList.contains('clicca')){
        try {
            let writeHere = document.getElementById('writeHere');
            writeHere.value = e.target.id
            formbutton.click()
        } catch (error) {
            console.log()
            
        }
    }
});

</script>

</div>

{% endblock %}