{% extends 'parts/base.html' %}

{%block content%}

{% include 'parts/sec_navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for element in filt %}
                <li class="list-group-item mt-5">
                    <div class="container containera">
                        <div class="row">
                            <div class="col">
                                <h4>Partenza :</br> {{element.start}}</h4>
                            </div>
                            <div class="col">
                                <h4>Arrivo :</br> {{element.arrive}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4>{{element.hour}}</h4>
                            </div>
                            <div class="col">
                                <h4>{{element.hour}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-grid gap-2">
                                <a href= "{% url 'flyDetail' element.id people%}" class="btn btn-primary">vai al biglietto</a>
                            </div>
                        </div>
                    </div>
                    <div>
                </li>
                {% endfor %}     
            </ul>
        </div>
    </div>

{% endblock %}